@model IList<ProjektyBazyDanych.Entities.Rodzaj>  
  
@{  
    ViewBag.Title = "Edytuj rodzaj projektu";  
}  
<div><h2>Rodzaje projektów</h2><br /></div>  
<br/>

<table class="table table-bordered table-responsive table-hover">  
    <tr>  
        <th width="170px"></th>  
        <th>Rodzaj projektu</th>  
    </tr>  

    @for (int i = 0; i < Model.Count(); i++)
    {
        <tr id="project-type-row-@Model[i].Id">  
            <td>
                <button class="btn btn-primary" id="btn-edit-type-@Model[i].Id" onclick="btnEditClick(@Model[i].Id)">Edytuj</button>
                <button class="btn btn-primary" id="btn-save-type-@Model[i].Id" onclick="btnSaveClick(@Model[i].Id)" style="display:none">Zapisz</button>
                <button class="btn btn-danger" id="btn-remove-type-@Model[i].Id" onclick="btnRemoveClick(@Model[i].Id)" >Usuń</button>
                <button class="btn btn-danger" id="btn-cancel-type-@Model[i].Id" onclick="btnCancelClick(@Model[i].Id)" style="display:none">Anuluj</button>
            </td>  
            <td id="name-@Model[i].Id">@Model[i].Nazwa</td>
            <td id="name-editor-@Model[i].Id" style="display:none">
                <form id="edit-project-type-form-@Model[i].Id">
                    <div class="form-group">
                    <input hidden="hidden" id="id-@Model[i].Id" value="@Model[i].Id"/>
                    </div>
                    <div class="form-group">
                    <input type="text" class="form-control" id="name-input-@Model[i].Id" value="@Model[i].Nazwa"/>
                    </div>
                </form>
            </td>
        </tr>  
    }
</table> 

<script>
    function btnSaveClick(id) {
        var data = {
            id: $("#id-" + id).val(),
            nazwa: $("#name-input-" + id).val()
        }

        $.ajax({
            url: "/Home/EditProjectType",
            type: "PUT",
            contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
            data: data,
            success: function(){
                $("#name-input-" + id).attr("value", data.nazwa);
                $("#name-" + id).text(data.nazwa);
                btnCancelClick(id);
            },
        });
    }

    function btnRemoveClick(id) {
        $.ajax({
            url: "/Home/DeleteProjectType",
            type: "DELETE",
            contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
            data: { id: id },
            success: function(){
                btnCancelClick(id);
                $("#project-type-row-" + id).remove();
            },
        });
    }

    function btnEditClick(id) {
        $("#name-" + id).css("display", "none");
        $("#name-editor-" + id).css("display", "block");
        $("#btn-edit-type-" + id).css("display", "none");
        $("#btn-remove-type-" + id).css("display", "none");
        $("#btn-save-type-" + id).css("display", "inline-block");
        $("#btn-cancel-type-" + id).css("display", "inline-block");
    }

    function btnCancelClick(id) {
        $("#name-" + id).css("display", "block");
        $("#name-editor-" + id).css("display", "none");
        $("#btn-edit-type-" + id).css("display", "inline-block");
        $("#btn-remove-type-" + id).css("display", "inline-block");
        $("#btn-save-type-" + id).css("display", "none");
        $("#btn-cancel-type-" + id).css("display", "none");
    }

</script>