@using ProjektyBazyDanych.ViewModels
@model IList<ProjektyBazyDanych.Entities.Projekt>

@{
	ViewBag.Title = "Projekty";
}

<link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.css" />
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>

<div><h2>Wykaz projektów</h2><br /></div>
<br />

<table id="myTable" class="table table-bordered table-responsive table-hover">
	<thead>
		<tr>
			<th width="170px"></th>
			<th>Rodzaj projektu</th>
			<th>Nr projektu</th>
			<th>Temat projektu</th>
			<th>Data rozpoczęcia</th>
			<th>Data zakończenia</th>
			<th>Kwota</th>
			<th>Uwagi</th>
		</tr>
	</thead>
	<tbody>
		@for (int i = 0; i < Model.Count(); i++)
		{
			<tr id="project-row-@Model[i].Id">
				<td>
					<a href="@Url.Action("EditProjectForm", "Home", new { Id = Model[i].Id })">
						<button class="btn btn-primary">Edytuj</button>
					</a>
					<button onclick="btnRemoveClick(@Model[i].Id)" class="btn btn-danger">Usuń</button>
				</td>
				<td>@Model[i].Rodzaj.Nazwa</td>
				<td>@Model[i].Nr</td>
				<td>@Model[i].Temat</td>
				<td>@Model[i].DataRozpoczecia</td>
				<td>@Model[i].DataZakonczenia</td>
				<td>@Model[i].Kwota</td>
				<td>@Model[i].Uwagi</td>
			</tr>
		}
	</tbody>

</table>

<script>
	function btnRemoveClick(id) {
			$.ajax({
				url: "/Home/DeleteProject",
				type: "DELETE",
				contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
				data: { Id: id },
				success: function() {
					$("#project-row-" + id).remove();
				},
			});
		}

	$(document).ready(function() {
		$('#myTable').DataTable();
	});

</script>