@using ProjektyBazyDanych.ViewModels
@{
    ViewData["Title"] = "Szukaj projektu";
}

@model SearchViewModel


@using (Html.BeginForm("SearchProject", "Home", FormMethod.Post))
{ 
        <h2>Szukaj projektu wg numeru</h2>
        
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.Nr, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nr, new { htmlAttributes = new { @class = "form-control", @style="width:400px" } })
                @Html.ValidationMessageFor(model => model.Nr, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" style="margin-top:20px">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Szukaj" class="btn btn-primary" />
            </div>
        </div>
</div>
}

@using (Html.BeginForm("SearchProject", "Home", FormMethod.Post))
{ 
        <h2>Szukaj projektu wg tematu</h2>
        
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.Temat, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Temat, new { htmlAttributes = new { @class = "form-control", @style="width:400px" } })
                @Html.ValidationMessageFor(model => model.Temat, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" style="margin-top:20px">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Szukaj" class="btn btn-primary" />
            </div>
        </div>
</div>
}

                
@using (Html.BeginForm("SearchProject", "Home", FormMethod.Post))
{ 
        <h2>Szukaj projektu wg daty</h2>
        
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.DataRozpoczecia, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DataRozpoczecia, new { htmlAttributes = new { @class = "form-control", @style="width:400px" } })
                @Html.ValidationMessageFor(model => model.DataRozpoczecia, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DataZakonczenia, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DataZakonczenia, new { htmlAttributes = new { @class = "form-control", @style="width:400px" } })
                @Html.ValidationMessageFor(model => model.DataZakonczenia, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" style="margin-top:20px">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Szukaj" class="btn btn-primary" />
            </div>
        </div>
</div>
}

                                
@using (Html.BeginForm("SearchProject", "Home", FormMethod.Post))
{ 
        <h2>Szukaj projektu wg kwoty</h2>
        
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.KwotaOd, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.KwotaOd, new { htmlAttributes = new { @class = "form-control", @style="width:400px" } })
                @Html.ValidationMessageFor(model => model.KwotaOd, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.KwotaDo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.KwotaDo, new { htmlAttributes = new { @class = "form-control", @style="width:400px" } })
                @Html.ValidationMessageFor(model => model.KwotaDo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" style="margin-top:20px">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Szukaj" class="btn btn-primary" />
            </div>
        </div>
</div>
}