@using BasketballLeagueDbProject.ViewModels
@{
	ViewBag.Title = "Zwodnicy wg drużyn";
}

@model PlayersByTeamsViewModel

<link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.css" />
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>

<div><h2>Zawodnicy wg drużyn</h2><br /></div>
<br />

@using (Html.BeginForm("PlayersByTeams", "Home", FormMethod.Get))
{ 
	<div class="form-group">
		@Html.Label("Drużyna")
		<div class="col-md-10">
			@Html.DropDownListFor(p => p.DropdownId,
			new SelectList(Model.Teams, "IdZespolu", "Nazwa"),
			new { @class = "form-control", @id = "drop-down-list-types" })
			@Html.ValidationMessageFor(model => model.DropdownId, "", new { @class = "text-danger" })
		</div>
	</div>

	<div class="form-group" style="margin-top:20px">
		<div class="col-md-offset-2 col-md-10">
			<input type="submit" value="Filtruj" class="btn btn-primary" />
		</div>
	</div>
}

<br />

<table id="myTable" class="table table-bordered table-responsive table-hover">  
	<thead>
        <tr>  
            <th>Imię</th>  
            <th>Nazwisko</th> 
            <th>Pozycja</th>  
            <th>Zespół</th>  
            <th>Wzrost</th>  
            <th>Waga</th>  
            <th>Data urodzenia</th>  
        </tr>  
	</thead>
	<tbody>
    @for (int i = 0; i < Model.Players.Count(); i++)
    {
        <tr id="row-@Model.Players[i].IdZawodnika">  
            <td>@Model.Players[i].Imie</td>
            <td>@Model.Players[i].Nazwisko</td>
            <td>@Model.Players[i].Pozycja.Nazwa</td>
            <td>@Model.Players[i].Zespol.Nazwa</td>
            <td>@Model.Players[i].Wzrost</td>
            <td>@Model.Players[i].Waga</td>
            <td>@Model.Players[i].DataUrodzenia</td>
        </tr>  
    }
	</tbody>
</table> 

<script>
	$(document).ready(function() {
		$('#myTable').DataTable();
	});
</script>